name: Test apps 
run-name: Test ${{ github.ref_name }}

on:
  workflow_dispatch
    
jobs:
  test-apps:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Work
        run: |
          echo virtualbox-ext-pack virtualbox-ext-pack/license select true | sudo debconf-set-selections
          sudo apt install -y virtualbox virtualbox-ext-pack
          cd /tmp
          #ip addr
          echo "RFX: wget"
          #wget --progress=dot:giga https://updates.software-univention.de/download/images/UCS-Virtualbox-Image.ova
          wget --progress=dot:giga https://getfile.dokpub.com/yandex/get/https://disk.yandex.ru/d/6MAy0y5T4SWEnw
          mv 6MAy0y5T4SWEnw USC-VB-Image.part.aa
          wget --progress=dot:giga https://getfile.dokpub.com/yandex/get/https://disk.yandex.ru/d/635cjc67GWdgjg
          mv 635cjc67GWdgjg USC-VB-Image.part.ab
          #wget --progress=dot:giga https://getfile.dokpub.com/yandex/get/https://disk.yandex.ru/d/xZ5iNuFC6Q0kiA
          #mv xZ5iNuFC6Q0kiA USC-VB-Image.part.ac
          echo "RFX: cat"
          cat USC-VB-Image.part.* > UCS-Virtualbox-Image.ova
          echo "RFX: ls"
          ls
          echo "RFX: import"
          sudo VBoxManage import /tmp/UCS-Virtualbox-Image.ova --vsys 0 --eula accept
          #ping -c 10 127.0.0.1
          echo "RFX: list"
          #sudo VBoxManage list vms
          sudo VBoxManage controlvm "UCS 5.2-2" nic1 nat eth0
          echo "RFX: start"
          sudo VBoxManage startvm "UCS 5.2-2" --type headless
          ping -c 60 127.0.0.1
          echo "RFX: run"
          echo "RFX: my ip"
          IP_ADDRESS=$(sudo VBoxManage guestcontrol "UCS 5.2-2" run --exe "/usr/bin/ip" --username root --password onlyoffice --wait-stdout -- -4 addr show eth0 | grep -oP '(?<=inet\s)\d+(\.\d+){3}')
          #IP_ADDRESS="10.1.0.240"
          #ip addr add 169.254.60.165/16 dev eth0
          echo "RFX: my ip route"
          ip route
          echo "IP_ADDRESS=$IP_ADDRESS"
          #ping -c 3 $IP_ADDRESS
          #echo "RFX: showvminfo"
          #sudo VBoxManage showvminfo "UCS 5.2-2" --details
          #sudo VBoxManage controlvm "UCS 5.2-2" nic1 bridged eth0
          echo "RFX: ip route"
          sudo VBoxManage guestcontrol "UCS 5.2-2" run --exe "/usr/sbin/ip" --username root --password onlyoffice --wait-stdout -- route
          echo "RFX: ip addr add"
          #sudo VBoxManage guestcontrol "UCS 5.2-2" run --exe "/usr/sbin/ip" --username root --password onlyoffice --wait-stdout -- addr add $IP_ADDRESS/20 dev eth0
          echo "RFX: dhcp1"
          sudo VBoxManage guestcontrol "UCS 5.2-2" run --exe "/usr/sbin/ip" --username root --password onlyoffice --wait-stdout -- route add 10.1.0.1 dev eth0
          echo "RFX: dhcp2"
          sudo VBoxManage guestcontrol "UCS 5.2-2" run --exe "/usr/sbin/ip" --username root --password onlyoffice --wait-stdout -- route add default via 10.1.0.1
          echo "RFX: dhcp3"
          sudo VBoxManage guestcontrol "UCS 5.2-2" run --exe "/usr/bin/ip" --username root --password onlyoffice --wait-stdout -- -4 addr show eth0
          echo "RFX: ip route"
          sudo VBoxManage guestcontrol "UCS 5.2-2" run --exe "/usr/sbin/ip" --username root --password onlyoffice --wait-stdout -- route
          echo "RFX: ip route del"
          sudo VBoxManage guestcontrol "UCS 5.2-2" run --exe "/usr/sbin/ip" --username root --password onlyoffice --wait-stdout -- route del 169.254.0.0/16
          echo "RFX: ip route"
          sudo VBoxManage guestcontrol "UCS 5.2-2" run --exe "/usr/sbin/ip" --username root --password onlyoffice --wait-stdout -- route
          echo "RFX: ip route flush cache"
          sudo VBoxManage guestcontrol "UCS 5.2-2" run --exe "/usr/sbin/ip" --username root --password onlyoffice --wait-stdout -- route flush cache
          echo "RFX: drop ip addr"
          sudo VBoxManage guestcontrol "UCS 5.2-2" run --exe "/usr/sbin/dhclient" --username root --password onlyoffice --wait-stdout -- -r eth0
          echo "RFX: get new ip addr"
          sudo VBoxManage guestcontrol "UCS 5.2-2" run --exe "/usr/sbin/dhclient" --username root --password onlyoffice --wait-stdout -- -v eth0
          echo "RFX: ping google.com"
          sudo VBoxManage guestcontrol "UCS 5.2-2" run --exe "/usr/bin/ping" --username root --password onlyoffice --wait-stdout -- google.com
          #echo "RFX: restart"
          #sudo systemctl restart networking
          #sudo systemctl restart systemd-networkd
          #sleep 20
          #echo "RFX: stop vm"
          #sudo VBoxManage controlvm "UCS 5.2-2" poweroff
          #sleep 20
          #echo "RFX: start vm"
          #sudo VBoxManage startvm "UCS 5.2-2" --type headless
          #sleep 60
          echo "RFX: ip addr"
          sudo VBoxManage guestcontrol "UCS 5.2-2" run --exe "/usr/sbin/ip" --username root --password onlyoffice --wait-stdout -- addr
          echo "RFX: ping"
          ping -c 3 $IP_ADDRESS
          curl -v http://$IP_ADDRESS/univention/portal/
          #curl -v http://10.1.0.65/univention/portal/

